<aub-info [autor]="'Alejandro Cerezo'" [titulo]="'Curso de Angular'">
    <div id="inicio">
        Esto sería la descripción de nuestro proyecto
    </div>
    <div id="extra">
        <p>Ratione mollitia aperiam reprehenderit, necessitatibus omnis sunt enim vel quisquam est beatae? Quaerat saepe tempora assumenda molestiae quos totam ad. Quam, consectetur excepturi accusamus in laborum quidem adipisci provident ipsum!</p>
        <p>Fugiat quaerat deleniti explicabo distinctio adipisci sed magnam, odio soluta consectetur. Ipsam quidem quam, odio esse maxime velit similique neque amet! Reprehenderit, harum? Consequuntur ad vitae cumque natus rem doloribus?</p>
        <p>Incidunt ipsum ut iste pariatur cupiditate quae totam doloribus possimus tenetur sequi eaque qui optio, ab blanditiis quos error quibusdam veritatis reprehenderit. Iusto sapiente beatae consectetur expedita dolorem adipisci cum!</p>
        <p>Adipisci, numquam inventore consectetur velit laborum sapiente cupiditate repudiandae veritatis, ducimus maiores quo blanditiis, eveniet ipsum quos repellat. Eligendi obcaecati quasi consequatur blanditiis, quis nostrum aperiam quae excepturi ea ex?</p>
        <p>Autem totam accusantium corrupti possimus dicta earum fuga aliquid mollitia distinctio sit, minus enim deleniti eaque, odio dolor quis vel ab molestiae, aut vero architecto consequatur esse. Quo, enim libero?</p>
    </div>    
</aub-info>